<div class="section">
    <h2 class="title is-1">Pokemon list</h2>

    <div class="columns is-multiline">
        <div class="column is-one-quarter" *ngFor="let pokemon of pokemonList">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        {{ pokemon.name }}
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <a [routerLink]="'/pokemon/' + pokemon.name"
                                >Check details</a
                            >
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <pkmn-list-paging
        [previousUrl]="previousUrl"
        [nextUrl]="nextUrl"
        (paging)="fetchPokemonList($event)"
    ></pkmn-list-paging>
</div>
