<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <button
                *ngIf="previousUrl"
                (click)="pagingClicked(this.previousUrl)"
                class="button is-primary"
            >
                Previous
            </button>
        </div>
    </div>

    <div class="level-right">
        <p class="level-item">
            <button
                *ngIf="nextUrl"
                (click)="pagingClicked(this.nextUrl)"
                class="button is-primary"
            >
                Next
            </button>
        </p>
    </div>
</nav>
